
body{
  background:linear-gradient(135deg, #e6e9f1 0%, #dbeef8 50%, #ffedd3 100%)  ;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#2a2a2a ;
margin-bottom: 1000px;
}
